<a href="{% render 'rc-legal-urls', part: 'retours' %}">Retours &amp; remboursements</a>
<a href="{% render 'rc-legal-urls', part: 'livraison' %}">Politique de livraison</a>
<a href="{% render 'rc-legal-urls', part: 'cgv' %}">CGV</a>
<a href="{% render 'rc-legal-urls', part: 'confidentialite' %}">Confidentialité</a>
<a href="{% render 'rc-legal-urls', part: 'paiement' %}">Paiement</a>
