{% if shop.enabled_payment_types.size > 0 %}
  <div class="rc-payment-logos" aria-label="Moyens de paiement acceptés">
    <ul class="rc-payment-logos__list">
      {% for type in shop.enabled_payment_types %}
        <li class="rc-payment-logos__item">
          {{ type | payment_type_svg_tag: class: 'rc-payment-logos__icon' }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
