{%- assign payment_types = 'apple_pay,paypal,visa,american_express,master,klarna,shop_pay' | split: ',' -%}

<div class="rc-payment-trust">
  <ul class="rc-payment-trust__list" role="list">
    {%- for type in payment_types -%}
      <li class="rc-payment-trust__item">
        {{ type | payment_type_svg_tag: class: 'rc-payment-trust__icon' }}
      </li>
    {%- endfor -%}
  </ul>
</div>
