{% liquid
  assign description_product = product
  if description_product == blank
    assign description_product = closest.product
  endif
%}

{% if description_product.description != blank %}
  <div class="rc-product-desc" data-rc-product-desc>
    <div class="rc-product-desc__list" data-rc-product-desc-source>
      <details class="rc-product-desc__item" open data-rc-product-desc-raw>
        <summary>
          <span>Description</span>
          <b aria-hidden="true">+</b>
        </summary>
        <div class="rc-product-desc__content rte">
          {{ description_product.description }}
        </div>
      </details>
    </div>
  </div>
{% endif %}
