{{ 'announcement-marquee.css' | asset_url | stylesheet_tag }}

<section class="rc-announcement" aria-label="Informations boutique">
  <div class="rc-announcement__badge">Infos</div>
  <div class="rc-announcement__track" aria-hidden="true">
    <div class="rc-announcement__group">
      <span>+200 modèles en stock</span>
      <span>Livraison gratuite dès 50€</span>
      <span>Support 7j/7</span>
      <span>Garantie 2 ans</span>
    </div>
    <div class="rc-announcement__group">
      <span>+200 modèles en stock</span>
      <span>Livraison gratuite dès 50€</span>
      <span>Support 7j/7</span>
      <span>Garantie 2 ans</span>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Announcement marquee",
  "presets": [
    {
      "name": "Announcement marquee"
    }
  ]
}
{% endschema %}
