{{ 'contact-intro.css' | asset_url | stylesheet_tag }}

<div class="rc-contact-intro">
  <p class="rc-contact-intro__line">Service client Français</p>
  <p class="rc-contact-intro__line">Disponible 7j/7</p>
  <p class="rc-contact-intro__line">De 9h à 19h</p>
  <p class="rc-contact-intro__line">Par email / téléphone / Chat en Direct</p>
</div>

{% schema %}
{
  "name": "Contact intro",
  "presets": [
    {
      "name": "Contact intro"
    }
  ]
}
{% endschema %}
